/* =========================================================
   RESET
========================================================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* =========================================================
   PAGE
========================================================= */

.cx-contact-page{

  position:relative;

  overflow:hidden;

  padding:120px 7%;

  color:white;

  background:
  linear-gradient(
    to bottom,
    rgba(133, 131, 131, 0.742),
    rgba(178, 174, 174, 0.596),
    rgba(161, 159, 159, 0.749)
  );
}

/* =========================================================
   CINEMATIC BG
========================================================= */

.cx-cinematic-bg{

  position:absolute;

  inset:0;

  overflow:hidden;

  z-index:0;
}

/* BUILDINGS */

.cx-building{

  position:absolute;

  bottom:-5%;

  width:260px;

  border-radius:30px 30px 0 0;

  overflow:hidden;

  background:
  linear-gradient(
    to bottom,
    rgba(134, 133, 133, 0.482),
    rgba(150, 147, 147, 0.479)
  );

  border:
  1px solid rgba(255,255,255,0.12);

  /* backdrop-filter:
  blur(14px); */

  opacity:0.7;
}

.cx-building::before{

  content:"";

  position:absolute;

  inset:0;

  background-image:
  linear-gradient(
    rgba(255,255,255,0.05) 1px,
    transparent 1px
  ),
  linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 1px,
    transparent 1px
  );

  background-size:35px 35px;
}

.cx-building::after{

  content:"";

  position:absolute;

  top:-20%;

  left:-50%;

  width:60%;

  height:180%;

  background:
  linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.22),
    transparent
  );

  transform:
  rotate(18deg);

  animation:
  shineMove 10s linear infinite;
}

.building-1{
  left:5%;
  height:70vh;
}

.building-2{
  left:40%;
  height:55vh;
}

.building-3{
  right:5%;
  height:86vh;
}

/* =========================================================
   REFLECTIONS
========================================================= */

.cx-reflection{

  position:absolute;

  width:2px;

  height:140vh;

  background:
  linear-gradient(
    to bottom,
    transparent,
    rgba(255,255,255,0.35),
    transparent
  );

  transform:
  rotate(24deg);

  animation:
  reflectionMove 12s ease infinite;
}

.reflection-1{
  left:18%;
}

.reflection-2{
  left:58%;
}

.reflection-3{
  left:82%;
}

/* =========================================================
   ORBS
========================================================= */

.cx-orb{

  position:absolute;

  border-radius:50%;

  filter:blur(120px);

  opacity:0.45;
}

.orb-1{

  width:340px;
  height:340px;

  background:
  rgba(180,220,255,0.18);

  top:-120px;
  left:-80px;
}

.orb-2{

  width:280px;
  height:280px;

  background:
  rgba(255,255,255,0.08);

  bottom:-100px;
  right:-100px;
}

/* =========================================================
   OVERLAYS
========================================================= */

.cx-overlay{

  position:absolute;

  inset:0;

  background:
  linear-gradient(
    to bottom,
    rgba(20,20,20,0.2),
    rgba(20,20,20,0.18),
    rgba(20,20,20,0.35)
  );

  z-index:1;
}

.cx-gradient{

  position:absolute;

  inset:0;

  background:
  radial-gradient(
    circle at top left,
    rgba(180,220,255,0.12),
    transparent 35%
  );

  z-index:1;
}

.cx-grid{

  position:absolute;

  inset:0;

  background-image:
  linear-gradient(
    rgba(255,255,255,0.04) 1px,
    transparent 1px
  ),
  linear-gradient(
    90deg,
    rgba(255,255,255,0.04) 1px,
    transparent 1px
  );

  background-size:70px 70px;

  opacity:0.35;

  z-index:1;
}

.cx-vignette{

  position:absolute;

  inset:0;

  background:
  radial-gradient(
    circle,
    transparent 45%,
    rgba(0,0,0,0.45)
  );

  z-index:1;
}

.cx-noise{

  position:absolute;

  inset:0;

  opacity:0.04;

  background-image:
  url("https://grainy-gradients.vercel.app/noise.svg");

  z-index:1;
}

/* =========================================================
   HERO
========================================================= */

.cx-hero{

  position:relative;

  z-index:5;

  text-align:center;

  margin-bottom:100px;
}

.cx-hero-content span{

  display:inline-block;

  margin-bottom:24px;

  font-size:0.76rem;

  letter-spacing:5px;

  color:
  rgba(255,255,255,0.72);
}

.cx-hero-content h1{

  font-size:
  clamp(3rem,7vw,6rem);

  line-height:0.92;

  letter-spacing:-4px;

  margin-bottom:28px;
}

.cx-hero-content h1 span{
/* 
  color:
  rgba(220,240,255,1); */
  font-size:
  clamp(3rem,7vw,6rem);

  line-height:0.92;

  letter-spacing:-4px;

  margin-bottom:26px;
  color: #ff0000c3;
}

.cx-hero-content p{

  max-width:700px;

  margin:auto;

  font-size:1rem;

  line-height:1.9;

  color:
  rgba(255,255,255,0.82);
}

/* =========================================================
   GRID
========================================================= */

.cx-contact-grid{

  position:relative;

  z-index:5;

  display:grid;

  grid-template-columns:
  1fr 1fr;

  gap:40px;

  margin-bottom:100px;
}

/* PANELS */

.cx-panel,
.cx-form-card{

  position:relative;

  padding:40px;

  border-radius:34px;

  background:
  rgba(255,255,255,0.08);

  border:
  1px solid rgba(255,255,255,0.1);

  backdrop-filter:
  blur(20px);
}

/* =========================================================
   LEFT
========================================================= */

.cx-mini{

  display:inline-block;

  margin-bottom:18px;

  font-size:0.72rem;

  letter-spacing:4px;

  color:
  rgba(255,255,255,0.7);
}

.cx-panel h2{

  font-size:3rem;

  line-height:1.1;

  margin-bottom:20px;
}


.cx-panel p{

  font-size:0.95rem;

  line-height:1.9;

  color:
  rgba(255,255,255,0.8);

  margin-bottom:30px;
}

/* CONTACT ITEMS */

.cx-contact-items{

  display:flex;

  flex-direction:column;

  gap:18px;

  margin-bottom:30px;
}

.cx-contact-box{

  display:flex;

  gap:16px;

  align-items:flex-start;

  padding:22px;

  border-radius:22px;

  background:
  rgba(255,255,255,0.05);
}

.cx-contact-box svg{

  font-size:1.2rem;

  margin-top:4px;

  color:
  rgba(220,240,255,1);
}

.cx-contact-box span{

  font-size:0.78rem;

  color:
  rgba(255,255,255,0.65);
}

.cx-contact-box h4{

  margin-top:6px;

  font-size:1rem;

  line-height:1.6;
}

/* MAP */

.cx-map{

  overflow:hidden;

  border-radius:24px;
}

.cx-map iframe{

  width:100%;
  height:260px;

  border:none;
}

/* =========================================================
   FORM
========================================================= */

.cx-form-card h3{

  font-size:2rem;

  margin-bottom:30px;
}

/* SHINE */

.cx-form-shine{

  position:absolute;

  top:-20%;

  left:-50%;

  width:60%;

  height:180%;

  background:
  linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.14),
    transparent
  );

  transform:
  rotate(18deg);

  animation:
  shineMove 8s linear infinite;
}

.cx-form-card form{

  display:flex;

  flex-direction:column;

  gap:18px;
}

.cx-form-card input,
.cx-form-card textarea{

  width:100%;

  border:none;

  outline:none;

  padding:18px 20px;

  border-radius:18px;

  background:
  rgba(255,255,255,0.06);

  color:white;

  font-size:0.95rem;
}

.cx-form-card textarea{

  resize:none;
}

.cx-form-card input::placeholder,
.cx-form-card textarea::placeholder{

  color:
  rgba(255,255,255,0.5);
}

/* BUTTON */

.cx-form-card button{

  height:56px;

  border:none;

  border-radius:50px;

  cursor:pointer;

  background:white;

  color:black;

  font-size:0.92rem;

  font-weight:600;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:12px;

  transition:0.4s ease;
}

.cx-form-card button:hover{

  transform:
  translateY(-5px);
}

/* =========================================================
   FAQ
========================================================= */

.cx-faq-section{

  position:relative;

  z-index:5;
}

.cx-faq-top{

  text-align:center;

  margin-bottom:50px;
}

.cx-faq-top span{

  display:inline-block;

  margin-bottom:18px;

  font-size:0.72rem;

  letter-spacing:4px;

  color:
  rgba(255,255,255,0.72);
}

.cx-faq-top h2{

  font-size:
  clamp(2.5rem,5vw,4.5rem);

  line-height:1.1;
}
.cx-faq-top h2 span {
    font-size:
  clamp(2.5rem,5vw,4.5rem);

  line-height:1.1;
  letter-spacing: -3px;
  color: #ff0000c3;
}


/* FAQ LIST */

.cx-faq-list{

  max-width:1000px;

  margin:auto;

  display:flex;

  flex-direction:column;

  gap:20px;
}

.cx-faq-item{

  overflow:hidden;

  border-radius:24px;

  background:
  rgba(255,255,255,0.08);

  border:
  1px solid rgba(255,255,255,0.08);
}

/* QUESTION */

.cx-faq-question{

  padding:28px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  cursor:pointer;
}

.cx-faq-question h3{

  font-size:1.1rem;
}

.cx-faq-question button{

  border:none;

  background:none;

  color:white;

  font-size:1rem;
}

/* ANSWER */

.cx-faq-answer{

  max-height:0;

  overflow:hidden;

  transition:0.5s ease;
}

.cx-faq-item.active .cx-faq-answer{

  max-height:200px;

  padding:
  0 28px 28px;
}

.cx-faq-answer p{

  font-size:0.95rem;

  line-height:1.9;

  color:
  rgba(255,255,255,0.78);
}

/* =========================================================
   HUGE TEXT
========================================================= */

.cx-bg-text{

  position:absolute;

  bottom:-20px;
  left:50%;

  transform:
  translateX(-50%);

  font-size:15vw;

  font-weight:700;

  letter-spacing:-10px;

  color:
  rgba(255,255,255,0.04);

  z-index:1;
}

/* =========================================================
   ANIMATIONS
========================================================= */

@keyframes shineMove{

  from{

    transform:
    translateX(-300%)
    rotate(18deg);
  }

  to{

    transform:
    translateX(400%)
    rotate(18deg);
  }
}

@keyframes reflectionMove{

  0%{

    transform:
    translateY(-10%)
    rotate(24deg);
  }

  50%{

    transform:
    translateY(10%)
    rotate(24deg);
  }

  100%{

    transform:
    translateY(-10%)
    rotate(24deg);
  }
}

/* =========================================================
   RESPONSIVE
========================================================= */

@media(max-width:1100px){

  .cx-contact-grid{

    grid-template-columns:1fr;
  }
}

@media(max-width:768px){

  .cx-contact-page{

    padding:100px 5%;
  }

  .cx-panel,
  .cx-form-card{

    padding:30px;
  }

  .cx-panel h2{

    font-size:2.3rem;
  }

  .cx-grid{

    background-size:45px 45px;
  }

  .building-2{

    display:none;
  }

  .cx-building{

    width:140px;

    opacity:0.45;
  }

  .cx-bg-text{

    font-size:20vw;
  }
}

@media(max-width:480px){

  .cx-hero-content h1{

    font-size:2.8rem;

    letter-spacing:-2px;
  }

  .cx-panel h2{

    font-size:2rem;
  }

  .cx-form-card h3{

    font-size:1.6rem;
  }

  .cx-faq-question{

    padding:22px;
  }

  .cx-faq-question h3{

    font-size:0.95rem;
  }
}