/* SECTION */
.expertise-section {
  width: 100%;
  padding: 50px 6% 30px;
  box-sizing: border-box;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BADGE */
.expertise-badge {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  padding: 14px 28px;
  border-radius: 50px;

  background:white;

  border: 1px solid rgba(255,255,255,0.5);

  box-shadow:
    0 4px 12px rgba(0,0,0,0.04),
    inset 0 1px 0 rgba(255,255,255,0.5);

  margin-bottom: 45px;
}

/* DOT */
.dot {
  width: 14px;
  height: 14px;

  background: red;
  border-radius: 50%;
}

/* TEXT */
.expertise-badge p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #111;
}

/* CONTAINER */
.expertise-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 70px;
}

/* LEFT */
.expertise-left {
  width: 48%;
}

/* TITLE */
.expertise-left h2 {
  font-size: 52px;
  line-height: 1.1;
  font-weight: 700;

  color: #111;

  margin-bottom: 24px;
}

/* TEXT */
.expertise-left p {
  font-size: 15px;
  line-height: 1.7;

  color: #444;

  margin-bottom: 40px;

  max-width: 520px;
}

/* PROGRESS */
.progress-box {
  margin-bottom: 26px;
}

/* HEAD */
.progress-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

/* LABELS */
.progress-head span {
  font-size: 16px;
  font-weight: 500;
  color: #111;
}

/* BAR */
.progress-bar {
  width: 100%;
  height: 5px;

  background: #e0e0e0;

  border-radius: 50px;

  overflow: hidden;
}

/* FILL */
.progress-fill {
  height: 100%;

  background: red;

  border-radius: 50px;
}

/* RIGHT */
.expertise-right {
  width: 44%;
}

/* IMAGE */
.expertise-right img {
  width: 100%;
  height: 420px;

  object-fit: cover;

  border-radius: 18px;

  box-shadow:
    0 8px 20px rgba(0,0,0,0.08);
}

/* TABLET */
@media (max-width: 992px) {

  .expertise-container {
    flex-direction: column;
  }

  .expertise-left,
  .expertise-right {
    width: 100%;
  }

  .expertise-left h2 {
    font-size: 42px;
  }
}

/* MOBILE */
@media (max-width: 600px) {

  .expertise-left h2 {
    font-size: 32px;
  }

  .expertise-right img {
    height: 320px;
  }

  .progress-head span {
    font-size: 14px;
  }
}